<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @rating.user_id %>
</p>

<p>
  <strong>Pitch:</strong>
  <%= @rating.pitch_id %>
</p>

<p>
  <strong>Rating value:</strong>
  <%= @rating.rating_value %>
</p>

<%= link_to 'Edit', edit_rating_path(@rating) %> |
<%= link_to 'Back', ratings_path %>
