%img{:src => "/assets/logo.png"}
%br
  / = link_to 'New Pitch', new_pitch_path
  - @pitches.each do |pitch|
    %div.row.pitch
      %div.small-3.column
        %div.votes
          %h1.ls.show-for-medium-up.votetext= pitch.votes.count
          %h4.ls.show-for-medium-up votes
          %h1.ss.show-for-small= pitch.votes.count
          %h4.ss.show-for-small votes
          
      %div.small-9.column
        %h1.ls.show-for-medium-up= pitch.name
        %h4.ls.show-for-medium-up= pitch.user.name
        %h1.ss.show-for-small= pitch.name
        %h4.ss.show-for-small= pitch.user.name

    / %div= link_to 'Show', pitch
    / %div= link_to 'Edit', edit_pitch_path(pitch)
    / %div= link_to 'Destroy', pitch, method: :delete, data: { confirm: 'Are you sure?' }